<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calcvuelator</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    </head>
    <body>
        <div id="App">
            <h1>My Calculator</h1>
            <input v-model="xValue" />
            <input v-model="yValue" />
            <button id="addButton" v-on:click="getSum">add</button>
            <label id="result"></ul>
        </div>

        <script>
            let app = new Vue({
                el: "#App",
                data: { xValue: "", yValue: "" },
                methods: {
                    getSum: function () {
                        let newItem = document.createElement("li");
                        newItem.innerText = parseInt(app.xValue) + parseInt(app.yValue);
                        document.getElementById("result").appendChild(newItem);
                        app.newTask = "";
                    },
                },
            });
        </script>
    </body>
</html>
